.quiz-info {
  padding: 0;
  box-sizing: border-box;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quiz-info__title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
}

.quiz-info__subtitle {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: .7;
}
